page-login {
ion-input{
    border: 1px solid map-get($colors,primary);
}
.log{
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.quater{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;

}
}
